:root {
    --color-grey: grey;
}

html, body {
    font: 12pt arial, sans-serif;
}

.main {
    padding: 0 4%;
}

.block-mess {
    margin-bottom: 15px;
}

.block-mess .text {
    color: red;
}

.block-mess>.date {
    font-size: 8pt;
    color: var(--color-grey);
    padding-bottom: 3px;
}

.form-block {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.form-block input[type="submit"]{
    float: right;
}

.error {
    font-size: 8pt;
    color: red;
    opacity: 0.6;
}

.pagination {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    text-align: center;
    
}

.pagination a {
    text-decoration: none;
    color: #000;
}

.pagination li {
    display: inline-block;
}

.pagination .active {
    color: green;
}

.pagination .disabled {
    opacity: 0.3;
}
