{% extends 'base.html' %}
{% block context %}
    {% for obj_mess in object_list %}
	<div class="block-mess">
		<div class="date">{{ obj_mess.created|date:"d.M.Y H:i:s" }}</div>
	    <div class="text">{{ obj_mess.text  }}</div>
	</div>
    {% endfor %}
    <ul class="pagination">
	{% if object_list.has_previous %}
	    <li><a href="?page={{ object_list.previous_page_number }}">&laquo;</a></li>
	{% else %}
	    <li class="disabled"><span>&laquo;</span></li>
	{% endif %}
	{% for i in object_list.paginator.page_range %}
	    {% if object_list.number == i %}
		<li class="active">{{ i }}</li>
	    {% else %}
		<li><a href="?page={{ i }}">{{ i }}</a></li>
	    {% endif %}
	{% endfor %}
	{% if object_list.has_next %}
	    <li><a href="?page={{ object_list.next_page_number }}">&raquo;</a></li>
	{% else %}
	    <li class="disabled"><span>&raquo;</span></li>
	{% endif %}
    </ul>
    <div class="form-block">
		<form action="/" method="post">
			{% csrf_token %}
			<div class="error">
				{% for i in form.text.errors %}
					{{ i }}
					{% if not forloop.last %},&nbsp;{% endif %}
				{% endfor %}
			</div>
			<p style="margin-top:1px">{{ form.text }}</p>
			<p><input type="submit" value="Добавить"></p>
		</form>
    </div>
{% endblock %}
